---
---

<div>
  <p>
    Hi there, I'm Cevdet Arda Haran, a web developer who specializes in creating
    beautiful and performant websites using the latest technologies. Here's why
    you should consider working with me:
  </p>
  <ul class="mt-5">
    <li>
      <strong>HTML5, CSS3, and JavaScript expert.</strong>
      I have extensive experience in building websites using these core technologies.
    </li>
    <li>
      <strong>TypeScript enthusiast.</strong>
      I love using TypeScript to write safer and more maintainable code.
    </li>
    <li>
      <strong>Astro and Svelte expert.</strong>
      I have a deep understanding of Astro and Svelte, and I use them to build fast
      and responsive websites.
    </li>
    <li>
      <strong>SvelteKit and TailwindCSS expert.</strong>
      I use SvelteKit and TailwindCSS to build scalable and beautiful websites.
    </li>
    <li>
      <strong>Arch Linux and VSCode user.</strong>
      `I USE ARCH BTW` and VSCode as my code editor of choice.
    </li>
    <li>
      <strong>Passionate about accessibility and performance.</strong>
      I believe that websites should be accessible to everyone, regardless of their
      abilities or devices, and should load fast for a seamless user experience.
    </li>
    <li>
      <strong>Collaborative and communicative.</strong>
      I'm a great team player and communicator, and I always strive to understand
      the client's needs and goals to deliver the best possible outcome.
    </li>
  </ul>
</div>
